@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ig-primary text-white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-ig-primary; 
}
::-webkit-scrollbar-thumb {
  @apply bg-ig-secondary rounded-full;
}
